.error {
	color: #ff0000;
}
 
.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

.buttonCA{
    background: url("../images/header_bg.png") repeat-x scroll 0 0 #D4D4D4;
    border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    color: #34404F;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    overflow: visible;
    padding: 5px;
    text-shadow: 1px 1px #FFFFFF;
    width: auto;
}

.buttonCA:hover{
    background: url("../images/state_hover_bg.png") repeat-x scroll 0 0 #B9CED9;
    border-color: #627782;
    color: #336699;
   }
#demoImage{
	float: right;
}

#rightMenu{
	float: right;
	text-align: right;
	
	padding: 5px;
	margin-top: 10px;
}

#rightMenu li{
	list-style: none;
}

#page{
	width: 770px;
	margin:0 auto 0 auto; 
	
}

#page2{
	width: 770px;
	
}

#content{
	float:left;
}

#reset{
	clear:both;
}

#personalInfo{
	width: 350px;
	float:left;
	margin: 10px;
	background-color: #e4e4e4;
	border: 1px;
	border-style: solid;
	border-color: #c1c1c1;
	border-radius: 5px;
	padding: 5px;
}

#personalInfo2{
	width: 350px;
	float:left;
	margin: 10px;
	padding: 5px;
}

#keygen{
	width: 350px;
	float:left;
	margin: 10px;
	background-color: #e4e4e4;
	border: 1px;
	border-style: solid;
	border-color: #c1c1c1;
	border-radius: 5px;
	padding: 5px;
}

#password{
	width: 350px;
	float:left;
	margin: 10px;
	background-color: #e4e4e4;
	border: 1px;
	border-style: solid;
	border-color: #c1c1c1;
	border-radius: 5px;
	padding: 5px;
}

#password2{
	width: 410px;
	float:left;
	margin: 10px;
	padding: 5px;
	font-size: 13px;
	font-family: Arial,Helvetica,Verdana,sans-serif;
}

#contetLeft{
	float:left;
}

#contetLeft2{
	font-size: 12px;
	font-family: Arial,Helvetica,Verdana,sans-serif;
	float:left;
}

#contetRight{
	float:left;
	width: 180px;
	margin: 10px;
	background-color: #e4e4e4;
	border: 1px;
	border-style: solid;
	border-color: #c1c1c1;
	border-radius: 5px;
	padding: 5px;
	font-size: 12px;
}

#contetRight2{
	float:left;
	width: 200px;
	margin: 120px 10px 10px 50px;
	padding: 5px;
	font-size: 13px;
	font-family: Arial,Helvetica,Verdana,sans-serif;
}

#wrapper{
	width:770px;
	margin:10px auto;
	text-align:center;
}
#link{
	color:#888888;
	font-size:24px;
}
#overlay {
	background: #000000;
	opacity:0.5;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10000;
}

#popup {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 20px solid #DDDDDD;
	left: 31%;
	padding: 50px;
	position: fixed;
	text-align: center;
	top: 28%;
	width: 380px;
	z-index: 20000;
	-moz-border-radius:30px 0;
}